
<%= image_tag('damgaard_web.jpg', :id=>"background") %>


<div id="maincontent">
	<div class='back-pattern'>
    <div id="box">

        <h1>Damgaard en moderne maskinfabrik</h1>

				<p>Dette er ikke en triviel styling men det kan lade sig gører også på iPhones og andre mobile devices
				</p>
    </div>
		<div id="solid-red"></div>
	</div>
</div>


<%= render 'js/animated_back'%>



