// Place all the styles related to the menus controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#sortable-menu li{
  list-style-type:none;
  height: 28px;
}

#sortable-page li{
  list-style-type:none;
  height: 28px;
}

#sortable-page2 li{
  list-style-type:none;
  min-height: 128px;
  margin:0px;
}

#sortable-page2{
  margin:0px;
}

#sortable-contact li{
  list-style-type:none;
  height: 28px;
}

#sortable-gallery li {
  list-style-type: none;
  height: 90px;
  width:940px;
  margin-left:-26px;
  background-color:#f3f3f3;
  margin-top:10px;
  padding-top:10px;
  border: 1px solid #DDD;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 0 white;
  -moz-box-shadow: inset 0 1px 0 white;
  box-shadow: inset 0 1px 0 white;
}

.icon-resize{
  margin-top:-40px;
}

.galery-edit-box{
  height: 18px;
  margin-top:24px;
  margin-right:10px;
  float:right;
}



/*
#sortable-menu { 
  list-style-type: 
  none; margin: 0; padding: 0; }
#sortable-menu li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; height: 18px; }
#sortable-menu li span { position: absolute; margin-left: -1.3em; }
*/